.MainChat
  .Group__Function
    .Search
      %input.SearchBox{type: 'search', placeholder: 'グループ検索'}
      %input.Btn{type: "submit", class: "btn--search", value: "検索"} 
    .Create
      = link_to "/groups/new", class: "btn--create" do 
        グループを作成
  .Group__List
    .Group__List__Box
      .Group--Content
        .icon
          %img{ src: "assets/image1.jpg", alt: "g" }
          %p.info これは友達を作るコミュニティです。ぜひご参加ください。
      .Group--Name
        友達コミュニティ 
    .Group__List__Box
      .Group--Content
        .icon
          %img{ src: "assets/image1.jpg", alt: "g" }
          %p.info これは友達を作るコミュニティです
      .Group--Name
        友達コミュニティ
    .Group__List__Box
      .Group--Content
        .icon
          %img{ src: "assets/image1.jpg", alt: "g" }
          %p.info これは友達を作るコミュニティです
      .Group--Name
        友達コミュニティ
    .Group__List__Box
      .Group--Content
        .icon
          %img{ src: "assets/image1.jpg", alt: "g" }
          %p.info これは友達を作るコミュニティです
      .Group--Name
        友達コミュニティ
    .Group__List__Box
      .Group--Content
        .icon
          %img{ src: "assets/image1.jpg", alt: "g" }
          %p.info これは友達を作るコミュニティです
      .Group--Name
        友達コミュニティ
    .Group__List__Box
      .Group--Content
        .icon
          %img{ src: "assets/image1.jpg", alt: "g" }
          %p.info これは友達を作るコミュニティです
      .Group--Name
        友達コミュニティ
    .Group__List__Box
      .Group--Content
        .icon
          %img{ src: "assets/image1.jpg", alt: "g" }
          %p.info これは友達を作るコミュニティです
      .Group--Name
        友達コミュニティ
    .Group__List__Box
      .Group--Content
        .icon
          %img{ src: "assets/image1.jpg", alt: "g" }
          %p.info これは友達を作るコミュニティです
      .Group--Name
        友達コミュニティ
    .Group__List__Box
      .Group--Content
        .icon
          %img{ src: "assets/image1.jpg", alt: "g" }
          %p.info これは友達を作るコミュニティです
      .Group--Name
        友達コミュニティ
    .Group__List__Box
      .Group--Content
        .icon
          %img{ src: "assets/image1.jpg", alt: "g" }
          %p.info これは友達を作るコミュニティです
      .Group--Name
        友達コミュニティ
    .Group__List__Box
      .Group--Content
        .icon
          %img{ src: "assets/image1.jpg", alt: "g" }
          %p.info これは友達を作るコミュニティです
      .Group--Name
        友達コミュニティ
