.Header
  .HeaderMain
    %p Jo場 〜JICA協力隊プラットフォーム〜

  .HeaderBottom
    .HeaderMenu
      =link_to "#", class: "edit--btn" do
        TOP 
      =link_to "#", class: "login" do
        GROUP
      =link_to "#", class: "login" do
        MYPAGE