.Header
  .HeaderMain
    %p.title JO場! 
    %p.sub 

  .HeaderBottom
    .HeaderMenu
      =link_to "#", class: "edit--btn" do
        Top 
      =link_to "#", class: "login" do
        About
      =link_to "#", class: "login" do
        MyPage
      =link_to "#", class: "login" do
        MyGroup